---
import { type Card, exportToJSON } from '@moeru-ai/ccc'
import { Markdown } from '@astropub/md'
import { Code, Steps } from '@astrojs/starlight/components'

interface Props {
  character: string
  json: Card
}

const { character, json } = Astro.props

const card = exportToJSON(json)
---

{json.notes && <Markdown.Inline of={`
  > ${json.notes}
  >
  > <a href="data:text/json;charset=utf-8,${encodeURIComponent(JSON.stringify(card))}" download="${character}.json">Download JSON</a>
`} />}

<!-- {json.description && <Markdown of={json.description} />} -->

<hr />

<details>
  <summary>Definitions</summary>
  <Steps>
    <ol>
      {json.messageExample && <li>
        <span>Example message</span>
        <p>
          <Markdown of={card.data.mes_example.split('\n').join('\n\n')} />
        </p>
      </li>}
      {card.data.first_mes && <li>
        <span>First message</span>
        <p>
          <Markdown of={card.data.first_mes} />
        </p>
      </li>}
      {card.data.alternate_greetings.length > 0 && <li>
        <span>Alternate greetings</span>
        <p>
          <Markdown of={card.data.alternate_greetings.join('\n\n---\n\n')} />
        </p>
      </li>}
    </ol>
  </Steps>
</details>

<details>
  <summary>Raw JSON (length: {JSON.stringify(card).length})</summary>
  <Code code={JSON.stringify(card, null, 2)} lang="json" />
</details>